<app-header/>

<div class="conteiner">
  <div class="main">
    <img src="./assets/dog_open_mouth.jfif" width="400px" height="400px" />

    <div class="texto">
      <h1><em>404</em> Sem nada por aqui...</h1>
      <h2>
        Tente acessar <a routerLink="/produtos" id="produto">Produtos</a>
      </h2>
      ou
      <h2>
        <a href="https://youtu.be/bdiEqLPKvhg" target="_blank"><button class="btn" onclick="">Click Here</button></a>
      </h2>
    </div>
  </div>
</div>

<app-footer/>

