<div class="footer-container">

  <div class="button-group left">
    <button routerLink="/produtos">Produtos</button>
    <button routerLink="/login">Adoção</button>
    <button routerLink="/cemiterio">Cemitério</button>
  </div>

  <div class="store-button">
    <button routerLink="/">AuAu STORE</button>
  </div>

  <div class="button-group right">
    <button routerLink="/carteirinha">Carteirinha</button>
    <button routerLink="/jogo">Jogo</button>
    <button routerLink="/redes-sociais">Redes Sociais</button>
  </div>
</div>

<div class="copyright">© Todos direitos reservados - 2024</div>
