img {
  width: 150px;
  border-radius: 5%;
}

.produtos {
  background-color: #fffced;
  color: #1c1c1c;
  width: 242px;
  height: 342px;
  border-radius: 10%;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 1s;

  box-shadow: 8px 9px 42px -14px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: 8px 9px 42px -14px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 8px 9px 42px -14px rgba(0, 0, 0, 0.78);
}

.produtos:hover {
  transform: scale(1.04);
  transition: 1s;
}

.produtos h1 {
  font-size: 22px;
}

.produtos p {
  color: #646363;
}

.produtos span {
  font-size: 17px;
  font-weight: 600;
  font-style: italic;
}
