<!-- Header -->
<app-header />


<!-- Principal -->
<!-- seta para baixo -->

<section class="conteiner flex">

  <div class="main-conteiner flex">
    <div class="main-titulo flex">
      <h1 id="main-opcao">MELHOR OPÇÃO</h1>
      <h1 id="main-cachorro">para o seu cachorro!</h1>
    </div>

    <div class="main-imagem">
      <div id="main-background-imagem">
        <img id="main-image" src="./assets/dog.png" width="400px" />
      </div>
    </div>
  </div>
</section>

<!-- Produtos -->
<section class="produto-conteiner flex">
  <h1>O melhor para seu amigo !!!</h1>

  @for(item of produtosCaninos; track $index){
  <div class="produtos-grid flex">
    <app-card-products [produtoCanino]=item></app-card-products>
  </div>
  }


</section>

<!-- <section class="produto-conteiner">
  <h1>O melhor para seu amigo !!!</h1>

  <div class="produtos-grid">
    <produtos-caninos
      linkImage="./Source/image/tapete_higienico.png"
      titleProduct="Tapete higienico"
      description="Tapete Higiênico Clean Pads (85X60), 30 Unidades São Francisco Pet para Cães, 85x60cm"
      price="79,00 (R$79,00 / unidade)"
      imgStyle="width: 80px;"
    ></produtos-caninos>

    <produtos-caninos
      linkImage="./Source/image/ração-filhotes.png"
      titleProduct="Ração para filhotes"
      description="Ração Pedigree para Cães Filhotes de Porte Médio e Grande Sabor Carne, Frango e Cereais"
      price="174,39"
    ></produtos-caninos>

    <produtos-caninos
      linkImage="./Source/image/ração.png"
      titleProduct="Ração Pedigree"
      description="Ração Pedigree Nutrição Essencial Carne para Cães Adultos"
      price="154,99"
    ></produtos-caninos>

    <produtos-caninos
      linkImage="./Source/image/escova-cachorro.png"
      titleProduct="Escova canina"
      description="Escova Dupla Savana com Bolinhas nas Cerdas e Cabo de Madeira"
      price="19,99"
    ></produtos-caninos>
  </div>
</section>

<section class="form-conteiner">
  <div class="formulario-form">
    <h1>Queremos te conhecer!!!</h1>

    <form>
      <label for="nome">Nome:</label><br />
      <input
        type="text"
        id="nome"
        name="nome"
        required
        autocomplete="true"
      /><br /><br />

      <label for="email">E-mail:</label><br />
      <input
        type="email"
        id="email"
        name="email"
        required
        autocomplete="true"
      /><br /><br />

      <label for="raca">Raça do seu amigo:</label><br />
      <select id="raca" name="raca">
        <option value="vira-lata">Vira-lata</option>
        <option value="labrador">Labrador Retriever</option>
        <option value="poodle">Poodle</option>
        <option value="bulldog">Bulldog Inglês</option>
        <option value="pastor-alemao">Pastor Alemão</option>
        <option value="outro">Outro</option></select
      ><br /><br />

      <input
        type="checkbox"
        id="receber_atualizacoes"
        name="receber_atualizacoes"
      />
      <label for="receber_atualizacoes"
        >Quero receber au-tificações sobre cuidados do meu cachorro</label
      ><br /><br />

      <button type="submit" class="btn_submit">Enviar</button>
    </form>
  </div>

  <div class="image-form">
    <img src="./Source/image/cachorro-coracao.jfif" id="form-gif" />
  </div>
</section>

<section class="rodape-conteiner">
  <div class="texto-rodape">
    <p>Tudo de melhor para seu cachorro</p>
    <p>
      <span class="bold">AuAuStore</span>
      &copy; 2023
    </p>
  </div>

  <div class="img-rodape">
    <a href="principal.html" id="logo"
      ><img
        src="./Source/image/logo.png"
        alt="logo da loja"
        width="115px"
        height="115px"
    /></a>
  </div>
</section> -->


<!-- QUEM SOMOS -->

<!-- RODAPÉ -->
<app-footer />