.flex { display: flex; }


.conteiner {
	padding: 0px 20px;
	height: 95%;
	flex-direction: column;
	justify-content: center;

  .main-conteiner {
    padding: 0 0 5px;
    justify-content: space-around;
    align-items: center;

    .main-titulo{
      flex-direction: column;
      font-family: 'Roboto', sans-serif;

      #main-opcao {
        font-weight: bold;
        font-size: 66px;
      }

      #main-cachorro{
        font-size: 32px;
        font-weight: lighter;
      }
    }
  }
}


.produto-conteiner {
	flex-direction: column;

	height: 50em;
  // width: 95vw;

  // Cansei de tentar faze isso pelo jeito certo
	background-image: url(./bbc_prod.png);

  background-size: cover;
	justify-content: space-around;
	padding: 20px 0;
	color: #000;

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: -2px 1px 5px #b7527a;
    height: 90px;
    font-size: 40px;
  }

  .produtos-grid {
    justify-content: space-around;
    align-items: center;
  }
}


