<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

<main>
  <section class="container">
    <div class="login">
      <i class="fas fa-sign-in-alt"></i>
      <h1>Entre em sua conta</h1>
      <br>
      <img src="./assets/Dog.jpg" alt="">

      <form>
        <div class="form">
          <div class="form-row">
            <i class="fas fa-user"></i>
            <label for="input">Usuário</label>

            <input type="text" placeholder="Digite seu nome">
          </div>

          <br>

          <div class="form-row">
            <i class="fas fa-eye"></i>
            <label for="input">Senha</label>

            <br>

            <input type="text" placeholder="Digite sua senha">
          </div>
          <div class="form-row bottom">
            <a href="" class="forgot">Esqueceu sua senha?</a>
          </div>
          <div class="form-row bottom">
            <a href="" class="forgot">Não tem conta? cadastre-se aqui</a>
          </div>
          <div class="form-row button-login">
            <button class="botao">Entrar <i class="fas fa-arrow-right"></i></button>
          </div>
        </div>
      </form>
    </div>
  
  </section>
</main>

