/* Reset básico e configuração global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif; 
    
  }

  /* Container principal */
  .container {
    margin-top: 10%;
    width: 500px;  
    padding: 40px 20px;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    
    // width: 90vw;
  }
  
  /* Estilização do ícone e título */
  .login .fas {
    color: #f579f7;
    font-size: 40px;
    margin-bottom: 15px;
  }
  
  .login strong {
    display: block;
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .login span {
    display: block;
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
  }
  
  /* Estilização dos inputs com padding nos títulos */
  .form-row {
    position: relative;
    margin-bottom: 20px;
    
    
  }
  
  .form-label {
    display: block;
    /* margin-top: 40px; */
    padding-bottom: 10px; /* Adiciona padding ao título */
    font-size: 14px;
    color: #555;
  }
  
  
  .form-row .fas {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
  }
  
  input {
    width: 100%;
    padding: 12px 15px;
    padding-right: 40px;
    font-size: 16px;
    color: #333;
    background-color: #f1f1f1;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #4d61fc;
    outline: none;
  }
  
  /* Estilização do botão */
  .botao {
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #b95fa1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .botao:hover {
    background-color: #3e7b5c;
    transform: translateY(-3px);
  }
  
  .botao .fas {
    margin-left: 10px;
    font-size: 14px;
  }
  
 
  img{
    width: 120px;
  }


  .social-login {
    text-align: center;
    margin-top: 20px;
}

.social-login p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

.social-button {
     
    
    width: 100%;
    max-width: 200px;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    border: none;
    transition: background-color 0.3s ease;
    
}
.social-button{
  margin-left: 20px;
}

.social-button i {
    margin-right: 8px;
}

.facebook {
    background-color: #3b5998;
}

.facebook:hover {
    background-color: #2d4373;
}


.google {
    background-color: #db4437;
}

.google:hover {
    background-color: #c33d2d;
}

  
  
  