<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet" />

<main>
    <section class="container">
        <div class="login">
            <h1>Entre em sua conta</h1>
            <br />
            <img src="./assets/Dog.jpg" alt="" />

            <form>
                <div class="form">
                    <div class="form-row">
                        <label for="input">Usuário</label>
                        <input type="text" placeholder="Digite seu nome" />
                    </div>

                    <div class="form-row">
                        <label for="input">Senha</label>
                        <input type="text" placeholder="Digite sua senha" />
                    </div>

                    <div class="form-row bottom">
                        <a routerLink="/recuperar-senha" class="forgot">Esqueceu sua senha?</a>
                    </div>
                    <div class="form-row bottom">
                        <a routerLink="/cadastro" class="forgot">Não tem conta? cadastre-se aqui</a>
                    </div>
                    <div class="form-row button-login">
                        <button class="botao">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>