<div class="container">
    <div class="left">
        <h1 class="logo">Auau<span>follow</span></h1>
        <h2>Cuide do seu amigo!</h2>
        <p>Dê um lar para um cão que precisa! Nossos pets para adoção são vacinados, castrados e prontos para uma nova
            família.</p>
    </div>
    <div class="right">
        <div class="form-container">
            <h3>VAMOS COMEÇAR</h3>
            <h2>Crie a sua conta agora</h2>
            <form id="register-form">
                <label for="name">Your Name</label>
                <input type="text" id="name" placeholder="Digite seu nome" required>

                <label for="email">Email</label>
                <input type="email" id="email" placeholder="exemple@nomail.com" required>

                <label for="password">Password</label>
                <input type="password" id="password" placeholder="*********" required>

                <button type="submit">Continuar</button>
            </form>
            <p>Já tem uma conta? <a href="#">Entre agora</a></p>
        </div>
    </div>
</div>